@font-face{
	font-family: Kanit;
	font-weight: 200;
	src: url(font/Kanit-ExtraLight.ttf);
}

@font-face{
	font-family: Kanit;
	font-weight: 100;
	src: url(font/Kanit-Thin.ttf);
}

@font-face{
	font-family: Kanit;
	font-weight: 300;
	src: url(font/Kanit-Light.ttf);
}

@font-face{
	font-family: Oswald;
	font-weight: 500;
	src: url(font/Oswald-Bold.ttf);
}

@font-face{
	font-family: Oswald;
	font-weight: 400;
	src: url(font/Oswald-Medium.ttf);
}

body {
/*	border: 14px solid #100af2;*/
	width: 100vw;
	height: 100vh;
	overflow: hidden;
/*	font-family: Kanit;
	font-weight: 200;*/
	line-height: 1.2;
}

.about {
  text-decoration: none;
	font-family: Oswald;
	font-size: 40px;
	position: absolute;
  top: 12.8%;
  left: 25%;
	transform: translateX(-50%);
	color: #100af2;
	text-transform: uppercase;
}


div.line {
	position: relative;
	width: 48px;
	height: 5px;
	background-color: #100af2;
	top: -72px;
	left: 105px;
}

div.line {
  position: relative;
  width: 48px;
  height: 5px;
  background-color: #100af2;
  /*background-color: #fff;*/
  top: -72px;
  left: 105px;
}

section {
	background-color: #100af2;
	position: absolute;
	top: 0;
	right: 0;
	/*overflow: none;
	float: right;*/
	width: 50%;
	height: 100vh;
	font-family: Kanit;
	font-weight: 200;
	color: #ffffff;
}

section div{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

p.info {
	width: 315px;
	margin-bottom: 30px;
}

.info-th {
  font-size: 14.2px;
  line-height: 1.4;
  width: 315px;
  margin-bottom: 30px;
}

a.purin {
	color: #ffffff;
	text-decoration: none;
}

.links img {
  width: 25px;
  height: 25px;
}

.links {
    width: 315px;
    position: absolute;
    left: 50%;
    top: 90%;
    transform: translateX(-50%);
    margin-top: 8px;
 /*   padding-left: 50px;
    margin-right: 5px;*/
}







/* menuuuuuuu */


div.langg, div.lang {
  position: fixed;
  bottom: 0;
  right: 0;
  margin-bottom: 40px;
  margin-right: 62px;
}

div.langg a, div.lang a{
  width: 80px;
  height: 80px;
  border-radius: 50%;
  font-size: 13px;
  font-family: Oswald;
  font-weight: 400;
}


a.eng {
    text-decoration: none;
    color: #ffffff;
    background-color: #100af2;
    padding: 2px 6px 3px 6px;
    border: 1px solid #100af2;
}

a.eng:hover {
    background-color: #fff;
    color: #100af2;
    padding: 2px 6px 3px 6px;
}

div.thai a{
  padding: 2px 6px 3px 6px;
  background-color: #100af2;
  color: #fff;
}

a.thai{
  text-decoration: none;
  color: #100af2;
  background-color: #ffffff;
  padding: 2px 6px 3px 6px;
}

a.thai:hover {
  color: #ffffff;
  border: 2px solid #100af2;
  background-color: #ffffff;
  padding: 1px 4px 1px 4px;
  /*padding: 1px 2px 2px 3px;*/
}


.menu-toggle{
	position: fixed;
	top: 10%;
	right: 90px;
	cursor: pointer;
}

.menu-toggle img {
  width: 30px;
  height: 20px;
}

.menu {
	min-height: 100vh;
	position: fixed;
	top: 0;
	right: 0;
	width: 15%;
	transform: translateX(100%);
 	z-index: 2;
 	background-color: #100af2;
 	transition: transform 0.8s ease;
}

.menu.open {
  	transform: translateX(0);
}

nav {
	position: absolute;
  	left: 50%;
  	top: 50%;
  	transform: translate(-50%, -50%);
}

nav a{
    font-size: 25px;
  	font-family: Oswald;
	font-weight: 400;
  	display:block;
  	line-height: 2;
  	color: #ffffff;
  	text-decoration: none;
}

nav a:hover{
  color: transparent;
    -webkit-text-stroke: 1px #ffffff;
}

nav a.selected {
	color: transparent;
  	-webkit-text-stroke: 1px #ffffff;
}

.menu-slider{
  position: absolute;
  right: 95px;
  top: 60px;
  cursor: pointer;
}

.menu-slider img{
  width: 30px;
  height: 30px;
}

a.engg {
    text-decoration: none;
    color: #100af2;
    background-color: #ffffff;
    padding: 2px 6px 3px 6px;
    border: 1px solid #100af2;
}

div.thaii a{
  padding: 2px 6px 3px 6px;
  background-color: #100af2;
  color: #fff;
}

a.thaii{
  text-decoration: none;
  color: #ffffff;
  border: 2px solid #100af2;
  background-color: #100af2;
  padding: 2px 5px 2px 5px;
}

a.thaii:hover {
/*    background-color: #100af2;
    color: #ffffff;*/
    background-color: #fff;
    color: #100af2;
    padding: 2px 6px 4px 6px;
    border: 1px solid #100af2;
}








/* cancelling out mobile elements*/

.menu-toggle-mobile {
  display: none;
}

#logo {
  display: none;
}




/*mobile version*/

@media (max-width: 425px) {

  #logo {
  display: block;
  width: 130px;
  position: absolute;
  top: 13px;
  left: 6%;
  }

.menu-toggle {
  display: none;
}

.menu-toggle-mobile {
  display: block;
  position: fixed;
  top: 23px;
  right: 23px;
  cursor: pointer;
  width: 40px;
}

.menu {
  width: 100%;
}

.menu-slider {
  position: absolute;
  right: 23px;
  top: 23px;
  cursor: pointer;
}

section {
    position: absolute;
    width: 100%;
    background-color: #fff;
    right: 0;
    top: 10%;
    font-family: Kanit;
    font-weight: 200;
    color: #100af2;
}

section div {
    position: absolute;
    top: 50%;
    left: 6%;
    margin-right: 6%;
    transform: translateY(-50%);
}

div.links {
  display: none;
}

p.info {
  width: 277px;
}

div.lang {
  margin-right: 6%;
  margin-bottom: 6%;
}

.about {
  text-decoration: none;
    font-family: Oswald;
    font-size: 21px;
    position: absolute;
    top: 12.8%;
    /* left: 0; */
    /* transform: translateX(-50%); */
    color: #fff;
    width: 120px;
    height: 120px;
    height: 1;
    border-radius: 50%;
    z-index: 1;
    background-color: #100af2;
    text-transform: uppercase;
}

div.line {
  display: none;}

h1 {
    margin-top: 36px;
    margin-left: 20px;
}

h2 {
  margin-left: 20px;
}

nav {
    position: absolute;
    left: 50%;
    top: 45%;
    transform: translate(-50%, -50%);
}


div.langg {
  display: none;
}

div.lang {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 105.29px;
    margin-bottom: 24%;
}





}