@font-face{
	font-family: Kanit;
	font-weight: 200;
	src: url(font/Kanit-ExtraLight.ttf);
}

@font-face{
	font-family: Kanit;
	font-weight: 100;
	src: url(font/Kanit-Thin.ttf);
}

@font-face{
	font-family: Kanit;
	font-weight: 300;
	src: url(font/Kanit-Light.ttf);
}

@font-face{
	font-family: Oswald;
	font-weight: 500;
	src: url(font/Oswald-Bold.ttf);
}

@font-face{
	font-family: Oswald;
	font-weight: 400;
	src: url(font/Oswald-Medium.ttf);
}

body {
/*	border: 14px solid #100af2;*/
	width: 100vw;
	height: 100vh;
	overflow: hidden;
/*	font-family: Kanit;
	font-weight: 200;*/
	line-height: 1.2;
}

header {
	font-family: Oswald;
	font-size: 40px;
	position: absolute;
	top: 12.8%;
	left: 25%;
	transform: translateX(-50%);
	color: #100af2;
	text-transform: uppercase;
}

div.line {
	position: relative;
	width: 48px;
	height: 5px;
	background-color: #100af2;
/*	top: -60px;*/
	top: -72px;
	left: 105px;
}

section {
	background-color: #100af2;
	position: absolute;
	top: 0;
	right: 0;
	/*overflow: none;
	float: right;*/
	width: 50%;
	height: 100vh;
	font-family: Kanit;
	font-weight: 200;
	color: #ffffff;
}

section div{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

p.info {
	width: 315px;
	margin-bottom: 30px;
}

a.purin {
	color: #ffffff;
	text-decoration: none;
}

.links img {
  width: 25px;
  height: 25px;
}

.links {
    width: 315px;
    position: absolute;
    left: 50%;
    top: 90%;
    transform: translateX(-50%);
    margin-top: 8px;
 /*   padding-left: 50px;
    margin-right: 5px;*/
}


/*menu bar*/

.menu-toggle{
	position: absolute;
	top: 10%;
	right: 8%;
}

.menu {
	min-height: 100vh;
	position: absolute;
	top: 0;
	right: 0;
	width: 15%;
	transform: translateX(100%);
 	z-index: 2;
 	background-color: #100af2;
 	transition: transform 0.8s ease;
}

.menu.open{
  	transform: translateX(0);
}

nav{
	position: absolute;
  	left: 50%;
  	top: 50%;
  	transform: translate(-50%, -50%);
}

nav a {
    font-size: 25px;
  	font-family: Oswald;
	font-weight: 400;
  	display:block;
  	line-height: 2;
  	color: #ffffff;
  	text-decoration: none;
}

nav a.selected {
	color: transparent;
  	-webkit-text-stroke: 1px #ffffff;
}

.menu-slider{
	position: absolute;
	top: 10%;
	right: 53.5%;
}




