@font-face{
	font-family: Kanit;
	font-weight: 200;
	src: url(font/Kanit-ExtraLight.ttf);
}
@font-face{
	font-family: Kanit;
	font-weight: 100;
	src: url(font/Kanit-Thin.ttf);
}
@font-face{
	font-family: Kanit;
	font-weight: 150;
	src: url(font/Kanit-Light.ttf);
}
@font-face{
	font-family: Kanit;
	font-weight: 300;
	src: url(font/Kanit-SemiBoldItalic.ttf);
}
@font-face{
	font-family: Kanit;
	font-weight: 350;
	src: url(font/Kanit-SemiBold.ttf);
}
@font-face{
	font-family: Oswald;
	font-weight: 500;
	src: url(font/Oswald-Bold.ttf);
}
@font-face{
	font-family: Oswald;
	font-weight: 400;
	src: url(font/Oswald-Medium.ttf);
}
@font-face{
	font-family: Oswald;
	font-weight: 200;
	src: url(font/Oswald-Light.ttf);
}


div.border {
	position: fixed;
	width: 100%;
	height: 100%;
	border: 14px solid #100af2;
}

body {
	font-family: kanit;
	fot-weight: 150;
	font-size: 13px;
	overflow-x: hidden;
}

h4 {
	width: 240px;
	/*width: 140px;*/
	font-family: Oswald;
	font-weight: 400;
	/*font-size: 25px;*/
	font-size: 43.5px;
	position: absolute;
	top: 9.4%;
    /*left: 8%;*/
    left: 8%;
	color: #100af2;
}

img {
	vertical-align: bottom;
    width: 123px;
}


span {
	font-style: italic;
}

div.link:hover a{
	font-style: italic;
	/*font-size: 14px;*/
	/*transform: translateX(50px);*/
}


/* challenge */

div.challenge {
	width: 520px;
	height: 520px;
	border-radius: 50%;
	background-color: #100af2;
	position: absolute;
/*	top: 100px;
	left: 600px;*/
	top: 13%;
	left: 45%;
}

div.content {
	width: 420px;
	padding-top: 100px;
	padding-left: 100px;
	color: #ffffff;
}

h1, h2 {
	font-family: Oswald;
	font-weight: 400;
	font-size: 26px;
	margin-bottom: 10px;
}

div.link {
	display: block;
	width: 440px;
	/*color: #ffffff;*/	
	font-family: Oswald;
	font-weight: 200;
	margin-bottom: 5px;
}

div.link p {
	display: inline;
	padding-top: 10px;
	font-size: 13px;
	font-family: kanit;
	font-weight: 150;
}

div.link a {
	color: #ffffff;
	text-decoration: underline;
	cursor: pointer;
	font-size: 15px;
}

.main {
	padding-top: 20px;
	font-weight: 150;
	line-height: 1.2;
	font-size: 14px;
}

.line {
	width: 320px;
	background-color: #ffffff;
	height: 2px;
	margin-top: 20px;
}

.date{
	margin-top: 15px;
	font-size: 11px;
}


.date1 {
	margin-top: 15px;
}

.date1, .date2{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	font-size: 11px;
	font-weight: 150;
}

div.location {
	margin-top: 6px;
	font-size: 11.5px;
	font-weight: 150;
}




/* critics */

div.critics {
	width: 540px;
	height: 540px;
	position: absolute;
	top: 500px;
/*	left: 100px;*/
	top: 75%;
	left: 8%;
	border-radius: 50%;
	background-color: #ffffff;
	border: solid 2px #100af2;
	position: absolute;
}

div.content2 {
	width: 430px;
	padding-top: 110px;
	padding-left: 100px;
	color: #100af2;
}

.person {
	color: #100af2 !important;
	cursor: pointer;
	text-decoration: underline;
}
	
.sentence {
	font-size: 10px;
	font-family: kanit;
	font-weight: 150;
}

.line2 {
	width: 331px;
	background-color: #100af2;
	height: 2px;
	margin-top: 20px;
}


/* producer */

div.producer {
	width: 570px;
	height: 570px;
	border-radius: 50%;
	background-color: #100af2;
	position: absolute;
	top: 150%;
	left: 45%;
	margin-bottom: 100px;
}


/* pop up */

.circle-xl {
	width: 600px;
	height: 600px;
	border-radius: 50%;
	background-color: #000000;
	z-index: 3;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: #ffffff;
	display: none;
/*	opacity: 0;
	transition: opacity 0.5s ease;*/
}

.filler {
	width: 400px;
	/*margin-top: 100px;*/
	margin-top: 40px;
	margin-left: 100px;
}

.crosss {
	margin-top: 60px;
    margin-left: 370px;
    cursor: pointer;
    width: 20px;
    height: 20px;
}


/* pop up names */


img#jpic {
	vertical-align: bottom;
    max-width: 100%;
    width: 180px;
    margin-top: 10px;
    margin-left: 214px;
}

img#npic {
    vertical-align: bottom;
    max-width: 100%;
    width: 166px;
    height: 184px;
    margin-top: 6px;
    margin-left: 233px;
    object-fit: cover;
}


img#apic {
    vertical-align: bottom;
    max-width: 100%;
    width: 180px;
    margin-top: 10px;
    margin-left: 220px;
   	width: 180px;
    height: 220px;
    object-fit: cover;
}

img#cpic {
	vertical-align: bottom;
    max-width: 100%;
    width: 180px;
    height: 198px;
    object-fit: cover;
    margin-top: 10px;
    margin-left: 214px;
}

img#aapic {
    vertical-align: bottom;
    max-width: 100%;
    width: 166px;
    height: 184px;
    margin-top: 6px;
    margin-left: 233px;
    object-fit: cover;
    background-position: right center;
}


img#mpic {
    vertical-align: bottom;
    max-width: 100%;
    width: 180px;
    margin-top: 10px;
    margin-left: 229px;
    width: 163px;
    height: 198px;
    object-fit: cover;
}

img#ccpic {
	vertical-align: bottom;
    max-width: 100%;
    width: 162px;
    height: 184px;
    margin-top: 10px;
    margin-left: 234px;
    object-fit: cover;
}

img#wpic {
    vertical-align: bottom;
    max-width: 100%;
    width: 166px;
    height: 184px;
    margin-top: 6px;
   	margin-left: 219px;
    object-fit: cover;
}

img#mmpic {
    vertical-align: bottom;
    max-width: 100%;
    width: 180px;
    margin-top: 10px;
    margin-left: 220px;
   	width: 180px;
    height: 220px;
    object-fit: cover;
}

/* menuuuuuuu */


div.lang {
  position: fixed;
  bottom: 0;
  right: 0;
  margin-bottom: 40px;
  margin-right: 62px;
}

div.lang a{
  width: 80px;
  height: 80px;
  border-radius: 50%;
  font-size: 13px;
  font-family: Oswald;
  font-weight: 400;
}


a.eng {
    text-decoration: none;
    color: #ffffff;
    background-color: #100af2;
    padding: 2px 6px 3px 6px;
    border: 1px solid #100af2;
}

div.thai a{
  padding: 2px 6px 3px 6px;
  background-color: #100af2;
  color: #fff;
}

a.thai{
  text-decoration: none;
  color: #100af2;
  background-color: #ffffff;
  padding: 2px 6px 3px 6px;
}

a.thai:hover {
  color: #ffffff;
  border: 2px solid #100af2;
  background-color: #100af2;
  padding: 1px 4px 1px 4px;
}

.menu-toggle{
	position: fixed;
	top: 10%;
	right: 90px;
	cursor: pointer;
}

.menu-toggle img {
  width: 30px;
  height: 20px;
}

.menu {
	min-height: 100vh;
	position: fixed;
	top: 0;
	right: 0;
	width: 15%;
	transform: translateX(100%);
 	z-index: 2;
 	background-color: #100af2;
 	transition: transform 0.8s ease;
}

.menu.open {
  	transform: translateX(0);
}

nav {
	position: absolute;
  	left: 50%;
  	top: 50%;
  	transform: translate(-50%, -50%);
}

nav a{
    font-size: 25px;
  	font-family: Oswald;
	font-weight: 400;
  	display:block;
  	line-height: 2;
  	color: #ffffff;
  	text-decoration: none;
}

nav a:hover{
  color: transparent;
    -webkit-text-stroke: 1px #ffffff;
}

nav a.selected {
	color: transparent;
  	-webkit-text-stroke: 1px #ffffff;
}

/*.menu-slider{
	position: absolute;
	right: 20px;
	top: 20px;
}*/

.menu-slider{
  position: absolute;
  right: 95px;
  top: 60px;
  cursor: pointer;
}

.menu-slider img{
  width: 30px;
  height: 30px;
}

a.engg {
    text-decoration: none;
    color: #100af2;
    background-color: #ffffff;
    padding: 2px 6px 3px 6px;
    border: 1px solid #100af2;
}

div.thaii a{
  padding: 2px 6px 3px 6px;
  background-color: #100af2;
  color: #fff;
}

a.thaii{
  text-decoration: none;
  color: #ffffff;
  border: 2px solid #100af2;
  background-color: #100af2;
  padding: 2px 5px 2px 5px;
}

a.thaii:hover {
    color: #100af2;
    background-color: #ffffff;
    padding: 2px 6px 3px 6px;
    border: 1px solid #100af2;
}
