@font-face{
	font-family: Kanit;
	font-weight: 200;
	src: url(font/Kanit-ExtraLight.ttf);
}

@font-face{
	font-family: Kanit;
	font-weight: 100;
	src: url(font/Kanit-Thin.ttf);
}

@font-face{
	font-family: Kanit;
	font-weight: 150;
	src: url(font/Kanit-Light.ttf);
}

@font-face{
	font-family: Oswald;
	font-weight: 500;
	src: url(font/Oswald-Bold.ttf);
}

@font-face{
	font-family: Oswald;
	font-weight: 400;
	src: url(font/Oswald-Medium.ttf);
}

body {
	border: 14px solid #100af2;
	width: 100vw;
	height: 100vh;
	/*color: #100af2;*/
	color: #000000;
	overflow: hidden;
}

.circle {
	position: absolute;
	top: 8%;
	left: 8%;
}
.circle img {
	width: 130px;
}

h1 {
	width: 100px;
	font-family: Oswald;
	font-weight: 400;
	font-size: 33px;
	position: absolute;
	top: 98%;
	left: -3%;
	/*color: #100af2;*/
	color: #100af2;
}

.menu-toggle{
	position: absolute;
	top: 10%;
	right: 8%;
	 cursor: pointer;
}

.menu-toggle img {
  width: 30px;
  height: 20px;
}

.menu {
	min-height: 100vh;
	position: absolute;
	top: 0;
	right: 0;
	width: 15%;
	transform: translateX(100%);
 	z-index: 2;
 	background-color: #100af2;
 	transition: transform 0.8s ease;
}

.menu.open{
  	transform: translateX(0);
}

nav{
	position: absolute;
  	left: 50%;
  	top: 50%;
  	transform: translate(-50%, -50%);
}

nav a{
    font-size: 25px;
  	font-family: Oswald;
	font-weight: 400;
  	display:block;
  	line-height: 2;
  	color: #ffffff;
  	text-decoration: none;
}

nav a:hover{
  color: transparent;
    -webkit-text-stroke: 1px #ffffff;
}

nav a.selected {
	color: transparent;
  	-webkit-text-stroke: 1px #ffffff;
}


.menu-slider{
  position: absolute;
  right: 100px;
  top: 60px;
  cursor: pointer;
}

.menu-slider img{
  width: 30px;
  height: 30px;
}
