body {
	background-color: #100af2;
	overflow: hidden;
	width: 100%;
	height: 100%;
}

div {
/*	width: 300px;
	height: 100%;*/
	height: 100vh;
	display: flex;
	align-items: center;
    justify-content: center;
}

#logo {
  /*width: 200px;*/
  width: 130px;
  position: absolute;
  top: 8%;
  left: 6%;
}

.links img {
  margin: 15px;
}

.icon1 img {
  width: 74px;
  height: 133px;
}

.icon2 img {
  width: 195px;
  height: 138px;

}

.icon3 img {
  width: 228px;
  height: 100px;

}

.icon4 img {
  width: 215px;
  height: 50px;

}

.icon5 img {
  width: 62px;
  height: 130px;
}


/* menuuuuuuu */


div.lang {
/*  position: fixed;
  bottom: 0;
  right: 0;
  margin-bottom: 40px;
  margin-right: 62px;*/

    height: 34px;
    position: absolute;
    bottom: 0;
    right: 0;
    margin-bottom: 40px;
    margin-right: 62px;
}

div.lang a{
  width: 30px;
  height: 30px;
  border-radius: 50%;
  font-size: 13px;
  font-family: Oswald;
  font-weight: 400;
  margin-left: 4px
}


a.eng {
    text-decoration: none;
    color: #ffffff;
    background-color: #100af2;
    padding: 2px 6px 3px 6px;
    border: 1px solid #100af2;
}

div.thai a{
  padding: 2px 6px 3px 6px;
  background-color: #100af2;
  color: #fff;
}

a.thai{
  text-decoration: none;
  color: #100af2;
  background-color: #ffffff;
  padding: 2px 6px 3px 6px;
}

a.thai:hover {
  color: #ffffff;
  border: 2px solid #100af2;
  background-color: #100af2;
  padding: 1px 4px 1px 4px;
}

.menu-toggle{
  position: fixed;
  top: 10%;
  right: 90px;
  cursor: pointer;
}

.menu-toggle img {
  width: 30px;
  height: 20px;
}

.menu {
  min-height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  width: 15%;
  transform: translateX(100%);
  z-index: 2;
  background-color: #100af2;
  transition: transform 0.8s ease;
}

.menu.open {
  transform: translateX(0);
}

.menu-slider img{
  width: 30px;
  height: 30px;
}

nav {
  position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

nav a{
    font-size: 25px;
    font-family: Oswald;
  font-weight: 400;
    display:block;
    line-height: 2;
    color: #ffffff;
    text-decoration: none;
}

nav a:hover{
  color: transparent;
    -webkit-text-stroke: 1px #ffffff;
}

nav a.selected {
  color: transparent;
    -webkit-text-stroke: 1px #ffffff;
}

.menu-slider{
  position: absolute;
  right: 95px;
  top: 60px;
  cursor: pointer;
}

.menu-slider img{
  width: 30px;
  height: 30px;
}

a.engg {
    text-decoration: none;
    color: #100af2;
    background-color: #ffffff;
    padding: 7px 7px 5px 8px;
    border: 1px solid #100af2;
}

div.thaii a{
  padding: 2px 6px 3px 6px;
  background-color: #100af2;
  color: #fff;
}

a.thaii {
  text-decoration: none;
  color: #ffffff;
  border: 2px solid #100af2;
  background-color: #100af2;
  padding: 7px 5px 2px 7px;
}

a.thaii:hover {
    color: #100af2;
    background-color: #ffffff;
    padding: 7px 5px 2px 7px;
    border: 1px solid #100af2;
}




/*mobile version*/

@media (max-width: 420px) {

#logo {
  width: 130px;
  position: absolute;
  top: 13px;
  left: 6%;
}

.content {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
  position: fixed;
  top: 0;
}

.links {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.links img {
  margin: 10px;
}

.icon1 img{
  width: 44px;
  /*height: 100%;*/
  height: 85px;
  margin-top: 20px;
}

.icon2 img{
  width: 94px;
  height: 77px;
  /*height: 100%;*/
}

.icon3 img{
  width: 94px;
  height: 48px;
}

.icon4 img{
  width: 108px;
  /*height: 100%;*/
  height: 32px;
}

.icon5 img{
  width: 44px;
  height: 87px;
}

.icon {
  margin-bottom: 15px;
}





.menu-toggle {
  position: fixed;
  top: 23px;
  right: 23px;
  cursor: pointer;
}

.menu {
  width: 100%;
}

.menu-slider {
  position: absolute;
  right: 23px;
  top: 23px;
  cursor: pointer;
}





}









