@font-face{
	font-family: Kanit;
	font-weight: 200;
	src: url(font/Kanit-ExtraLight.ttf);
}

@font-face{
	font-family: Kanit;
	font-weight: 100;
	src: url(font/Kanit-Thin.ttf);
}

@font-face{
	font-family: Kanit;
	font-weight: 150;
	src: url(font/Kanit-Light.ttf);
}

@font-face{
	font-family: Kanit;
	font-weight: 300;
	src: url(font/Kanit-SemiBoldItalic.ttf);
}

@font-face{
	font-family: Kanit;
	font-weight: 350;
	src: url(font/Kanit-SemiBold.ttf);
}

@font-face{
	font-amily: Oswald;
	font-weight: 500;
	src: url(font/Oswald-Bold.ttf);
}

@font-face{
	font-family: Oswald;
	font-weight: 400;
	src: url(font/Oswald-Medium.ttf);
}


body {
	border: 14px solid #100af2;
	width: 100vw;
	height: 100vh;
	font-family: kanit;
	font-weight: 150;
	font-size: 13px;
	overflow: hidden;
}

section.left {
	width: 50%;
	height: 100vh;
	position: absolute;
	top: 0;
	left: 0;
}

.left-content {
	width: 50%;
	position: absolute;
	left: 15%;
	top: 9.5%;
}	

section.right {
	width: 50%;
	height: 100vh;
	position: absolute;
	top: 0;
	right: 0;
}

.right-content {
	width: 50%;
	position: absolute;
	right: 15%;
	top: 9.5%;
}

h1, h2 {
	font-family: Oswald;
	font-weight: 400;
	font-size: 24px;
	margin-bottom: 30px;
}


div.circle {
	width: 250px;
	height: 250px;
	border-radius: 50%;
	border: 5px solid #100af2;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.circle img {
	width: 100px;
	position: absolute;
	top: 30%;
	left: 13%;
}

h4 {
	width: 100px;
	font-family: Oswald;
	font-weight: 400;
	font-size: 32px;
	position: absolute;
	top: 43%;
	left: 30%;
	color: #100af2;
}



















/*menu bar*/

.menu-toggle{
	position: absolute;
	top: 10%;
	right: 8%;
}

.menu {
	min-height: 100vh;
	position: absolute;
	top: 0;
	right: 0;
	width: 15%;
	transform: translateX(100%);
 	z-index: 2;
 	background-color: #100af2;
 	transition: transform 0.8s ease;
}

.menu.open{
  	transform: translateX(0);
}

nav{
	position: absolute;
  	left: 50%;
  	top: 50%;
  	transform: translate(-50%, -50%);
}

nav a {
    font-size: 25px;
  	font-family: Oswald;
	font-weight: 400;
  	display: block;
  	line-height: 2;
  	color: #ffffff;
  	text-decoration: none;
}

nav a.selected {
	color: transparent;
  	-webkit-text-stroke: 1px #ffffff;
}

.menu-slider{
	position: absolute;
	top: 10%;
	right: 53.5%;
}