@font-face{
	font-family: Kanit;
	font-weight: 200;
	src: url(font/Kanit-ExtraLight.ttf);
}

@font-face{
	font-family: Kanit;
	font-weight: 100;
	src: url(font/Kanit-Thin.ttf);
}

@font-face{
	font-family: Kanit;
	font-weight: 300;
	src: url(font/Kanit-Light.ttf);
}

@font-face{
  font-family: Kanit;
  font-weight: 400;
  src: url(font/Kanit-Medium.ttf);
}

@font-face{
	font-family: Oswald;
	font-weight: 500;
	src: url(font/Oswald-Bold.ttf);
}

@font-face{
	font-family: Oswald;
	font-weight: 400;
	src: url(font/Oswald-Medium.ttf);
}

@font-face{
  font-family: Oswald;
  font-weight: 300;
  src: url(font/Oswald-Regular.ttf);
}


body {
	font-family: Kanit;
	font-weight: 200;
	font-size: 13.5px;
	line-height: 1.2;
  overflow-x: hidden;
}

section.text {
  position: fixed;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background-color: #100af2;
  color: #fff;
  overflow-y: auto;
}

div.content {
  padding: 50px;
  width: 600px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.links img {
  width: 25px;
  height: 25px;
}

.links {
    width: 600px;
    position: absolute;
    left: 50%;
    top: 71%;
    transform: translateX(-50%);
    padding-left: 50px;
    margin-right: 5px;
}

h1 {
/*   display: flex;
  justify-content: center;
  padding-top: 20px; */
  position: absolute;
  top: 8%;
  left: 50%;
  transform: translateX(-50%);
}

a {
  text-decoration: none;
  color:  #fff;
}

/* .text a.location {
  position: absolute;
  bottom: 0;
  right: 0;
  margin-right: 10px;
  margin-bottom: 10px;
  color: #ffffff;
  font-size: 30px;
  font-family: Oswald;
  font-weight: 500;
} */

.footer {
	text-align: center;
  width: 500px;
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 11px;
}
/*
.footer .title {
  font-size: 12px;
}*/

.footer:hover p{
  border-bottom: 1px solid #fff;
}

section.graphics {
  background-color: #ffffff;
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  color: #100af2;
}

div.dates {
  position:  absolute;
  bottom: 0;
/*   right: 0; */
  left: 50%;
  transform: translateX(-50%);
  font-size: 20px;
  font-family: Oswald;
  font-weight: 500;
  /*margin-bottom: 46px;*/
  margin-bottom: 38px;
/*   margin-right: 10px; */
}

div.circle {
  width: 400px;
  height: 400px;
  border-radius: 50%;
  border: solid 3px #100af2;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: Oswald;
  font-weight: 400;
  background-color: #fff;
  text-shadow
}

div.circle p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 16px;
}

.text span {
  font-size: 30px;
}

/*language*/


div.lang {
  position: absolute;
  bottom: 0;
  right: 0;
  margin-bottom: 40px;
  margin-right: 62px;
}

div.lang a{
  width: 80px;
  height: 80px;
  border-radius: 50%;
  font-size: 13px;
  font-family: Oswald;
  font-weight: 400;
}

a.eng {
    text-decoration: none;
    color: #ffffff;
    background-color: #100af2;
    padding: 2px 6px 3px 6px;
    border: 1px solid #100af2;
}


div.thai a{
  padding: 2px 6px 3px 6px;
  background-color: #100af2;
  color: #fff;
}

a.thai{
  color: #100af2;
  /*border: 2px solid #100af2;*/
  background-color: #ffffff;
  padding: 2px 6px 3px 6px;
}


a.thai:hover {
  color: #ffffff;
  border: 2px solid #100af2;
  background-color: #100af2;
  padding: 1px 4px 2px 4px;
 /*  padding: 1px 4px 1px 4px;*/
}


.menu-toggle{
	position: absolute;
	top: 10%;
/*	right: 8%;*/
	right: 90px;
  cursor: pointer;
}

.menu-toggle img {
  width: 30px;
  height: 20px;
}

.menu {
	min-height: 100vh;
	position: absolute;
	top: 0;
	right: 0;
	width: 15%;
	transform: translateX(100%);
 	z-index: 2;
 	background-color: #100af2;
 	transition: transform 0.8s ease;
}

.menu.open {
  	transform: translateX(0);
}

.menu-slider{
  position: absolute;
  right: 95px;
  top: 60px;
  cursor: pointer;
}

.menu-slider img{
  width: 30px;
  height: 30px;
}

nav {
	position: absolute;
  	left: 50%;
  	top: 50%;
  	transform: translate(-50%, -50%);
}

nav a{
    font-size: 25px;
  	font-family: Oswald;
	font-weight: 400;
  	display:block;
  	line-height: 2;
  	color: #ffffff;
  	text-decoration: none;
}

nav a.selected {
	color: transparent;
  	-webkit-text-stroke: 1px #ffffff;
}

a.engg {
    text-decoration: none;
    color: #100af2;
    background-color: #ffffff;
    padding: 2px 6px 3px 6px;
    border: 1px solid #100af2;
}

div.thaii a{
  padding: 2px 6px 3px 6px;
  background-color: #100af2;
  color: #fff;
}

a.thaii{
  color: #ffffff;
  border: 2px solid #100af2;
  background-color: #100af2;
  padding: 2px 5px 2px 5px;
}

a.thaii:hover {
    color: #100af2;
    background-color: #ffffff;
    /*padding: 2px 6px 3px 6px;*/
    padding: 2px 6px 4px 6px;
    border: 1px solid #100af2;
}


